{% url 'home' as home_url %}
{% url 'product' as product_list_url %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Product Page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- top nav bar starts -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class='container'>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" >
              <li class="nav-item {% if request.path == home_url %}active{% endif %}"style="padding-left:20px; padding-right:20px;">
                <a class="nav-link" href="{{ home_url }}">Home <span class="sr-only">(current)</span></a>
              </li>
              
              <li class="nav-item {% if request.path == product_list_url %}active{% endif %}"style="padding-left:20px; padding-right:20px;">
                <a class="nav-link" href="{{ product_list_url }}">Products</a>
              </li>
            </ul>

            <form method='GET' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" name='q'aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>


        </div>
          
    </nav>
    <!-- top nav bar ends -->


    {% block content %}
    <div class="container">
  
            <div class="row my-5">
                <div class="card-deck mx-auto">
                    {% for obj in object_list %}
                
                        <!-- <h3>{{ obj.name}}</h3>
                        <h4>{{ obj.price }}</h4>
                        <a href="{{ obj.url }}"><img src="{{ obj.img }}"></a> -->
                        <div class="card " style="max-width: 330px;min-width: 330px">
                          {% if obj.img %}
                            <a href="{{ obj.url }}"><img class="card-img-top" src="{{ obj.img }}" 
                            alt="{{ obj.name }} logo"></a>
                            {% endif %}
                          <div class="card-body">
                            <h4 class="card-title">{{ obj.name }}</h4>

                            <p class="card-text">Price : {{ obj.price }}</p>
                            <a href="{{ obj.url }}" class="btn btn-outline-secondary my-2">View</a>
                          </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                            </div> </div><hr><div class="row my-5"><div class="card-deck mx-auto"> 
                        {% endif %}

                    {% endfor %}
                </div>
            </div>

    </div>
    {% endblock %}
    
</body>


</html>

